{% extends 'header.html' %}

{% block content %}
{%if user.is_superuser == 1 %}


<div class="w3-container w3-center w3-pale-blue w3-section w3-round-xlarge">
    <h3>Worked Hours</h3>
    <table id='main_table' class="display w3-table w3-light-gray w3-border w3-bordered">
        <thead>
        <tr class="w3-red">
            <th>No.</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Begin Time</th>
            <th>End Time</th>
            <th>Duration</th>
            <th>Finished</th>
            <th>Paid</th>
            <th></th>
            <th></th>


        </tr>
        </thead>
        <tbody>
        {% for item in entries reversed %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ item.user.first_name}}</td>
            <td>{{ item.user.last_name}}</td>
            <td>{{ item.begin_dateTime }}</td>
            <td>{{ item.end_dateTime }}</td>
            <td>{{ item.duration }}</td>
            <td>{{ item.finished |yesno:"✔,✘"}}</td>
            <td>{{ item.paid |yesno:"✔,✘"}}</td>

            <td>
                <form method="get" action="{{item.id}}/log_finish">
                    <button class="w3-button w3-green w3-round-xxlarge">Finish</button>
                </form>
            </td>

            <td>
                <form method="get" action="{{item.id}}/log_pay">
                    <button class="w3-button w3-yellow w3-round-xxlarge">Pay</button>
                </form>
            </td>

        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>


{% endif %}
{% endblock %}